body {text-align: center; background: #d5d7db;padding: 0 10% 0 10%; line-
height:26px}

p {font-family:Century Gothic;color: #0b8080;font-weight:bold;line-height:300px}

h1 {font-family:Arial;color:#0b8080}

as {text-align:left}

arth{font-family:Century Gothic;position:absolute;left:100px;right:200px;color:#0b8080;font-size:28px;font-weight:bold;line-height:300px}

by{font-family:Century Gothic;color:#085c5c;position:absolute;left:100px;right:200px;line-height:360px}

art{text-align:left;font-family:Century Gothic;position:absolute;top:210px;left:100px;right:200px;color:#0b8080;font-size:16px;font-weight:normal;line-height:25px}


a.list {font-family:Century Gothic;font-size:16px;text-decoration:underline}
a.list:link{color:#085c5c}
a.list:visited{color:#085c5c}
a.list:hover{#color:#085c5c;background:transparent}

a.art1{position:absolute;left:75px;top:130px;font-size:38px;padding:452px 217px 0 0}
a.art1:link{color:#0b8080}
a.art1:visited{color:#0b8080}
a.art1:hover{color:#085c5c;background:transparent}
art1{position:absolute;left:75px;top:130px}

a.art2{position:absolute;left:788px;top:130px;font-size:25;padding:276px 185px 0 0}
a.art2:link{color:#0b8080}
a.art2:visited{color:#0b8080}
a.art2:hover{color:#085c5c;background:transparent}

art2{position:absolute;left:788px;top:130px}


div.main{font-size:22px;position:absolute;left:300px;right:300px}

div.container{position:fixed;
	top:-67px;
	left:47px}

div.sotet{position:fixed;right:10px;top:24px}

div.insta{position:absolute;right:660px;left:570px;bottom:-485px}

div.youtube{position:absolute;right:570px;left:660px;bottom:-488px}
div.insta1{position:absolute;right:660px;left:570px;bottom:15px}

div.youtube1{position:absolute;right:570px;left:660px;bottom:12px}


* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-family:Century Gothic ; font-weight:bold
}
nav {position:fixed;
	background: #002278;
	height: 80px;
	width: 100%;
	left:0px}

nav2 {position:absolute;
	background: #002278;
	height: 80px;
	width: 100%;
	bottom:-500px;
	left:0px}
nav21 {position:absolute;
	background: #002278;
	height: 80px;
	width: 100%;
	bottom:0px;
	left:0px}


label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;}

nav ul {
	float: right;
	margin-right: 210px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0px -3px;
}
nav ul li a {
	color: #0b8080;
	font-size: 17px;
	padding: 30px 30px;
	border-radius: 0px;
	text-transform: uppercase
}
a.active, a:hover {
	background: #00004f;
}
.checkbtn {
	font-size: 30px;
	color: 00004f;
	float: right;
	line-height: 80px;
	margin-right: 90px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

